

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Garamond, serif;
}
body{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Source Code Pro', monospace;
}
header{
    background-color: #6d6b6b;
    color: #860d0d;
}
.container{
    background-color: #b8b9a9fa;
    margin-top: 30px;
    padding: 10px;
}
.edited-image{
    width: 100%;
}
.nav-tabs {
display: flex;
justify-content: center;
}

.nav-tabs .nav-link {
border: 1px solid #dadada;
color: #ffffff;
background-color: #000000;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.tab-content{
    justify-content: center;

}

#download-btn{
    background-color: #000000;
    color: #6a7bfe;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    position: center;
}
#download-btn:hover{
    background-color: #4c5bc8;
    color: #000000;
}
.btn-primary{
    background-color: #a0fffcb4;
    color: #0f2c1f;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.btn-primary:hover{
    background-color: #000000;
    color: #ffffff;
}
.btn-primary:focus{
    background-color: #000000;
    color: #ffffff;
}
.canvas-container{
    display: flex;
    justify-content: center;
}
.img-fluid{
    margin-bottom: 10px;
}
#canvas{
    filter: brightness(1.0);
    filter: contrast(1.0);
    filter: saturate(1.0);
    filter: grayscale(0.0);
    filter: hue-rotate(0deg);
    filter: invert(0.0);
    filter: sepia(0.0);
    filter: blur(0px); ;
  }

  .slider-row {
    display: flex;
    justify-content: center;
  }
  .mx-2 {
    flex: 1;
  }
  #width{
    width: 70px;
    height: 5vh;
    margin: 5px;
  }
  #height{
    width: 70px;
    height: 5vh;
    margin: 5px;
  }

#tune-pane input[type=range] {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}


#tune-pane:not(.show) > div {
  display: none;
}

.tab-pane {
  display: flex;
  justify-content: center;
  align-items: center;
}

#resolution-pane {
  margin-top: 20px;
}
#avatar-canvas {
  display: block;
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 auto;
}